servers:
  - server1.example.com
  - server2.example.com

sns:
  version: latest
  credentials:
    key: AKIAIOSFODNN7EXAMPLE
    secret: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  region: us-east-1
  topic: 'arn:aws:sns:us-east-1:123456789012:unb_lib_server_updates'
